In [1]:
from flask import Flask,request,jsonify
import numpy as np
from sklearn import preprocessing
import pandas as pd

In [2]:
df = pd.read_csv('sms classification.csv')

In [3]:
print(df.to_string())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.rename(columns={'Unnamed: 0':'Category'}, inplace = True)

In [6]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.shape

(5572, 2)

In [8]:
df.Category.value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [9]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
df['Message']=le.fit_transform(df['Message'])

In [12]:
df.head()

  Category  Message
0      ham     1080
1      ham     3126
2     spam      999
3      ham     4121
4      ham     2781

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [14]:
x = df.drop(['Category'], axis=1)
y = df['Category']

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [16]:
x_train

      Message
708      3383
4338     5076
5029     1078
4921     1041
2592     3742
...       ...
3772     1543
5191     3697
5226     3363
5390     2992
860       717

[3900 rows x 1 columns]

In [17]:
y_train

708     ham
4338    ham
5029    ham
4921    ham
2592    ham
       ...
3772    ham
5191    ham
5226    ham
5390    ham
860     ham
Name: Category, Length: 3900, dtype: object

In [18]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
acc = accuracy_score(y_pred,y_test)
acc

0.902511961722488

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)
acc = accuracy_score(y_pred,y_test)
acc

0.902511961722488

In [20]:
abc = [[3383]]
result = rf.predict(abc)
result[0]

C:\Users\srinivasulu m\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'ham'

In [21]:
abc = [[1543]]
result = rf.predict(abc)
result[0]

C:\Users\srinivasulu m\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

'ham'

In [22]:
import pickle
filename = 'Random_forest.sav'
pickle.dump(rf, open(filename, 'wb'))